/* Container styling */
.navbar {
  background-color: #000000;
  padding: 15px 40px; /* Slightly reduced padding for a sleeker sticky look */
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;

  /* STICKY MAGIC */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays above images/content */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Adds depth when scrolling */
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styling */
.logo {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-italic {
  font-style: italic;
  font-weight: 500;
  color: #e0e0e0;
}

/* Navigation Menu */
.nav-links {
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

/* Target the ScrollLink class directly */
.nav-item-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-item-link:hover {
  color: #8b7e4b;
}

/* Sign-in Button Styling */
.signin-btn {
  text-decoration: none;
  background-color: #8b7e4b;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

.signin-btn:hover {
  background-color: #72673d;
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}
